/*General*********************/
*{
    text-align: left;
    margin: 0;
    padding:0;
}
a{
    cursor: pointer;
    text-decoration: none;
}
button{
    cursor: pointer;
}
input:focus{
    outline: none;
}
button:focus{
    outline: none;
}
select:focus{
    outline: none;
}

/**************Animations************************/
#Animation{
    display: none;
}
@keyframes Down_truck {
    0%{top: 33%;}                   /*second 1*/
    16.2%{top: 45%;opacity: 1;}  
    16.7%{top: 45%;opacity: 0;}  /*second 2*/
    33.3%{top: 45%;opacity: 0;}   /*second 3*/
    49.8%{top: 45%;opacity: 0;}   /*second 4*/
    83%{top: 45%;opacity: 0;}
    83.1%{top: 45%;opacity: 1;}                 /*second 5*/
    100%{top: 31%;opacity: 1;}                  /*second 6*/
    
}
@keyframes To_open_truck {
    0%{opacity: 0;}
    16.5%{ opacity: 0;} /*The truck open right in the second 1*/
    16.7%{ opacity: 1;}
    33.3%{ opacity: 1;}
    49.8%{ opacity: 1;}
    82.8%{ opacity: 1;} /*The truck close right in the second 5*/
    83%{ opacity: 0;}
    100%{ opacity: 0;}

}
@keyframes Show_Text {
    0%{opacity: 1;}
    25%{opacity: 1;}
    50%{opacity: 1;}
    100%{opacity: 1;}
}
@keyframes ChargeDron {
    0%{left: -25%;}      
    16.7%{left: -25%;} 
    33.3%{left: 14.5%;}  
    49.5%{left: 14.5%; opacity: 1;}
    49.8%{left: 14.5%;opacity: 0;}   
    83%{left: 14.5%;opacity: 0;}     
    100%{left: -25%;opacity: 0;} 
}
@keyframes EmptyDron {
    0%{left: -25%;}      
    16.7%{left: -25%;} 
    33.3%{left: 14.5%;}  
    49.5%{left: 14.5%; opacity: 0;}
    49.8%{left: 14.5%;opacity: 1;}   
    83%{left: 14.5%;opacity: 1;}     
    100%{left: -25%;opacity: 1;} 
}
/*****************end of Animations***************/

/*--------NAV-BAR----------*/

.nav_bar{
    position: relative;
    top: 0;
    margin-top: -0.5%;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    box-shadow: 1px 3px 5px   rgb(196, 191, 191) ;
}
.logo{
    margin-bottom: -3.5%;
    margin-top: -4.6%;
    width: 14%;
    margin-left: 7%;
}
.logo_img{
    margin-top: 15% !important;
    padding-bottom: 20% !important;
}
.nav{
    width:60%;
    display: flex;
    justify-content: space-around;
}
.link-div{
    width: 15%;
}
.link-div{
    cursor: pointer;
    display: flex ;
    justify-content: space-around !important;
}
.LinkImg{
    width: 37%;
}
.LinkName{
    width: 50%;
}
.NavLink-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}
#NavBar_mob{
    display: none;
}
/*--------end of NAV-BAR----------*/



/*--------Fotter----------*/
.Footer{
    z-index: 15 !important;
    background-color: white !important;
    width: 100%;
    height: 12.5vh;
    position: fixed;
    bottom: 0%;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px -5px 7px   rgb(218, 216, 216) !important;
}
.boxes{
    width: 11%;
    margin-top: 0.7% !important;
    text-align: end;
    margin-right: 5.6%;
}
.boxes_img{
    width: 50%; 
}

/*--------end Fotter----------*/



/*--------Products View----------*/
.ColumnLink{
    margin-bottom: -5%;
}
.Pallets-div{
    margin: 0 5%;
    margin-left: 4%;
    width: 90.2%;
    display: flex;
    justify-content: space-between;
}
.product{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.StaticTruck-div{ 
    display: none;
}
.Search-div{
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-color: gray;
    margin: 0 5.5%;
    margin-left: 6.1%;
    width: 88%;
    margin-bottom: -5%;
}
.Search-div input{
    width: 35%;
    font-size: 13px;
    background-color: white;
    border-style: solid;
    border-color: rgb(179, 175, 175);
    box-shadow: 1px 2px 5px   rgb(196, 191, 191) ;
    border-radius: 0.3rem;
    padding: 0.25% 1%;
    border-width: 2px;
    margin: 2% 26%;
    margin-right: 1%;
}

.Search-div button{
    width: 12%;
    text-align: center;
    background-color: white;
    color: #F56764;
    padding: 0.4% 1%;
    border-radius: 1rem;
    box-shadow: 1px 3px 7px   rgb(196, 191, 191) ;
    margin-left: 0.5% !important;
    margin-top: 0%;
    border: none;
}
button:hover{
    cursor: pointer;
}
.Right_side{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 7%;
    margin-left: 1.2%;
    margin-bottom: 5%;
    text-align: right;
}

.pagination-bar{
    position: fixed;
    bottom: 25%;
    margin-bottom: -5%;
    left: 0%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-items: space-between;
    margin-left: 41%;
}
.pagination-bar p{
    margin-right: 1.5%;
    margin-left: 1.5%;
    cursor: pointer;
}
.selectedNumber{
    width: 4%;
    background-color: #FF524F;
    color: white;
    border-radius: 2rem;
    padding-left: 1.2%;
}
.leftarr{
    margin-right: 15% !important;
}
.rightarr{
    margin-left: 15% !important;
}
.arrow-pag{
    margin-top: 7% !important;
}
.arrow-div{
    width: 10%;
}
.arrow-pag:hover{
    cursor:pointer;
}
.product-card{
    cursor: pointer;
    margin-left: 1%;
    margin-bottom: 1.5%;
    width: 24%;
}
.ProductCard{
    font-size: 16px;
    width: 100%;
    padding: 1% 5%;
    border-radius: 0.4rem;
    box-shadow: 0px 0.5px 5px   rgb(197, 191, 191) ;
}

.buy_button{
    box-shadow: 3px 4px 3px   rgb(218, 216, 216) ;
    margin: 5% 10% 10% 0;
    font-size: 14px;
    width: 30%;
    padding: 0.9% 0%;
    border-radius: 1rem;
    border: none;
    text-align: center;
    background-color: #FF524F;
    color: white;
    align-self: flex-end;
}
.white_button{
    box-shadow: 1px 2px 15px   rgb(218, 216, 216) ;
    margin: 5% 10% 10% 0;
    font-size: 14px;
    width: 30%;
    padding: 0.9% 0%;
    border-radius: 1rem;
    border: none;
    text-align: center;
    background-color: white; 
    color: #FF524F;
    align-self: flex-end;
}
.pkg_numb{
    width: 60%;
}
.Networks_column{
    display: flex;
    justify-content: space-around;
    margin-top: 1.5%;
    width: 28%;
    margin-left: 4.5%;
}
.ColumnLink{
    width: 10%;
}
.ModuleImg-div{
    width: 20%;
}
.category_name{
    width: 70%;
}
.ColumnLink:first-of-type{
    margin-right: 5%;
}
.Footer_mob{
    display: none;
}
.Category-div{
    margin-top: 2% !important;
}
/*--------end of Products View----------*/

/*Product Detail*/
.product-detail{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 3%;
}
.product-detail button{
    margin-left: -4.3%;
}
.LeftSideId{
    width: 45%;
}
.RightSideId{
    width: 40%;
    margin-top: 2%;
    margin-left: -8%;
}
.imageProduct{
    width: 75%;
}
.PriceProd{
    font-size: 25px;
}
.NameProd{
    margin-top: 2%;
    font-size: 20px;
    font-weight: 380;
}
.DescrProd{
    font-size: 14px;
    margin-top: 2%;
    margin-bottom: 1.5%;
    line-height: 20px;
    width: 80%;
}
.Stock{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    margin: 3% 0;
}
.Stock select{
    width: 35%;
    padding-left: 12%;
}
.Stock p{
    width: 55%;
    margin-bottom: 2%;
}
.SwiperDetail{
    display: flex;
    justify-content: space-around;
}
.detArrow{
    margin-top: 22%;
}
/*end of Product Detail*/

/*Cart View***********************************/

.container-cart p{
    font-size: 18px;
}
.YourCart{
    width: 80%;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-color: gray;
}
.container-cart{
    width: 80%;
    margin-left: 16%;
}
.Cart-title{
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-color: gray;
}
.Cart-title h2{
    margin: 0.5% 1%;
    margin-top: 2.4%;
    font-weight: 360;
    font-size: 35px;
}
.Caracts{
    display: flex;
    justify-content: space-between;
    margin: 3% 5%;
    margin-left: 0;
}
.ItemP{
    width: 42%;
    margin-left: 6%;
}
.QuantityP{
    width: 23%;
    text-align: center;
}
.PriceP{
    width: 10%;
    text-align: center;
}
.ProductoCart{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.7%;
    margin-bottom: 1%;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: gray;
}
.cartItem{
    width: 100%;
    display: flex;
}
.Item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}
.Quantity{
    width: 18%;
    display: flex;
    justify-content: space-between;
}
.trash{
    width: 5%;
    cursor: pointer;
}
.Price{
    width: 10%;
}
.Price p{
    text-align: center;
}
.qty-dropdown{
    width: 70%;
    margin-left: 2.5%;
    height: 4vh;
    padding-left: 29%;
}
.ItemPic{
    width: 20%;
}
.ItemName{
    width: 75%;
}
.ItemName p{
    text-align: left;
}
.Sub{
    width: 10%;
    margin-bottom: 1.5%;
}
.Total{
    width: 50%;
}
.TotalSect{
    width: 30%;
    margin-left: 66.8%;
    line-height: 27px;
    display: flex;
    justify-content: space-between;
}
.TotalSect p{
    text-align: right !important;
}
.Subts{
    width: 30%;
}
.redText{
    color: #F56764;
}
.CartBuy{
    width: 25% !important;
    height: 5% !important;
    margin-left: 55%;
}
.emptyButton{
    margin: 19% 0;
}
.EmptyCart{
    font-size: 40px;
    font-weight: 300;
    text-align: center;
    margin: 13.5vh 0;
}
/*end of Cart View***********************************/


/*Shipping View*/

.container-shipping{
    width: 35%;
    margin-left: 33%;
}
.submit_button{
    box-shadow: 3px 4px 3px   rgb(218, 216, 216);
    margin-top: 4%;
    font-size: 14px;
    width: 35% !important;
    padding: 0.9% 0%;
    border-radius: 1rem;
    border: none;
    text-align: center;
    background-color: #FF524F;
    color: white;
    align-self: flex-end;
}
.checkBox{
    cursor: pointer;
}
.Step-div{
    width: 40%;
    margin: 5% 30.5%;
}
/*End of Shipping View*/


/*PlaceOrder View*/
.Step-div2{
    width: 43%;
    margin: 2.9% 33.3%;
}
.OrderTitle h2{
    text-align: center;
}
.ShippingAddress{
    margin-top: 2%;
    margin-left: 2%;
}
.ShippingAddress h2{
    font-weight: 300;
    font-size: 30px;
}
.ShippingAddress p{
    margin-top: 1.5%;
    width: 60%;
    font-weight: 300;
    font-size: 16px;
}
.modify_button{
    width: 15%;
    padding: 0.5%;
    margin-top: 2%;
    background-color: rgb(245, 245, 245);
    color: #F56764;
}
.PlaceOrderP p{
    width: 60%;
    margin-left: 39%;
    margin-bottom: 10%;
    margin-top: -7%;
}
.OrderButton{
    margin-left: 45%;
    margin-top: -1%;
}
/*End of PlaceOrder View*/


/*LogIn View*/

.login{
    margin-top: 5%;
}
.login p{
    text-align: center;
}
.LogInButton{
    width: 35% !important;
    margin-left: 10%;
}

/*End of LogIn View*/


/*-------- Categories View----------*/

.StaticTruck-divProd{ 
    display: none;
}
.CardProducts{
    margin-bottom: 3%;
    padding: 1% 1.5%;
    width: 30%;
    margin-left: 3%;   
}
.CardProducts p{
    text-align: center !important;
    margin-right: 20%;
    width: 50%;
}
.see_product_desk{
    cursor: pointer;
}
.prod_name{
    margin-right: center;
}
.TextCateg p{
    margin: 13% 0;
}
.CategoryName-div{
    width: 99.2%;
    margin-left: 2%;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-color: gray;
    margin-bottom: -6%;
}
.CategoryName-div h2{
    margin: 0.5% 1%;
    margin-top: 2.4%;
}
.h2Title h2{
    font-weight: 360;
    font-size: 35px;
}
.NoProdcts{
    text-align: center;
    margin-top: 8%;
    margin-left: 20%;
}
.Pallets-divCateg{
    margin: 0 5%;
    margin-top: 1.5%;
    margin-left: 4%;
    width: 90.2%;   
}
/*--------end of Categories View----------*/



/*--------buy_form----------*/
#buy_form_desk{
    display: none; 
}
.buy_form{
    z-index: 3;
    display: flex;
    background-color: #ffffff;
    border-radius: 5rem;
    width: 86%;
    position: relative;
    margin-top: -4%;
    left: 7.5%;
    margin-bottom: -6.5%;
}
.form_side{
    width: 50%;
    padding: 4% 0;
    padding-bottom: 12.5%;
}

.form_left{
    padding-right: 0%;  
    padding-left: 12%;
}
.form_right{
    padding-left: 0%;
    padding-right: 2%;
}
label{
    margin-left: 4%;
    font-size: 21px;
}
input{
    margin-top: 1.5%;
    margin-bottom: 4%;
    width: 100%;
    height: 16%;
    padding: 1% 0;
    border-radius: 5px;
    border-width: 1.5px;
    padding-left: 3%;
    font-size: 16px;
}
select{
    font-size: 16px;
    margin-top: 1.5%;
    margin-bottom: 4%;
    width: 100%;
    height: 16%;
    padding: 1% 0;
    border-radius: 5px;
    border-width: 1.5px;
    background-color: white;
    padding-left: 2.2%;
}

.form_button{
    margin-left: 10%;
    width: 32%;
    background-color: white;
    margin-top: 7.5%;
    padding: 2.5% 0;
    border: none;
    border-radius: 2rem;
    text-align: center;
    color: rgb(145, 145, 145);
    font-size: 15px;
    font-weight: 800;
    box-shadow: 0.8px 3px 5px  rgb(199, 198, 198) ;
}
.form_button:first-of-type{
    margin-left: -1%; 
}
.Add2Cart2{
    display: none;
}
.Add2Cart{
    display: block;
    margin-top: -8.5%;
    margin-left: 41.2%;
}
#FakeRightSide{
    margin-top: 74%;
}
.dfltAddress{
    margin-top: 3%;
    margin-right: 2.7%;
    display: flex;
    justify-content: space-around;
}
.dfltAddress input{
    margin-top: 0;
    margin-right: -55%;
    width: 7%;
    height: 3vh;
}
/*--------end of buy_form----------*/







/*JS Functions****************/
.disabled{
    display: none;
}
.enabled{
    display: block;
}

/*Hiding Mobile version*/
.Presentation{
    display: none;
}
.Pallets_mob{
    display:none;
}
.Products_mob{
    display: none;
}
.Garden_products_mob{
    display: none;
}
.Bath_mob{
    display: none;
}
.Tools_mob{
    display: none;
}
.buy_form_mob{
    display: none;
}

@media(height:540px){
    #OpenTruck{
        width: 37.5%;
        position: absolute;
        opacity: 1;
        top: 30%;
        left: 6%;
        animation-name: To_open_truck;
        animation-duration: 6s;
    }
    #EmptyTruck{
        width: 35%;
        position: absolute;
        top: 25%;
        left: 7%;
        animation-name: Down_truck;
        animation-duration: 6s;
        animation-timing-function: ease;
    }
    @keyframes Down_truck {
        0%{top: 25%;}                   /*second 1*/
        16.2%{top: 34.3%;opacity: 1;}  
        16.7%{top: 34.3%;opacity: 0;}  /*second 2*/
        33.3%{top: 34.3%;opacity: 0;}   /*second 3*/
        49.8%{top: 34.3%;opacity: 0;}   /*second 4*/
        83%{top: 34.3%;opacity: 0;}
        83.1%{top: 34.3%;opacity: 1;}           /*second 5*/
        100%{top: 25%;opacity: 1;}           /*second 6*/
        
    }
}

@media(height:768px){
    #OpenTruck{
        width: 37.5%;
        position: absolute;
        opacity: 0;
        top: 30%;
        left: 6%;
        animation-name: To_open_truck;
        animation-duration: 6s;
    }
    #EmptyTruck{
        width: 35%;
        position: absolute;
        top: 25%;
        left: 7%;
        animation-name: Down_truck;
        animation-duration: 6s;
        animation-timing-function: ease;
    }
    @keyframes Down_truck {
        0%{top: 25%;}                   /*second 1*/
        16.2%{top: 34.3%;opacity: 1;}  
        16.7%{top: 34.3%;opacity: 0;}  /*second 2*/
        33.3%{top: 34.3%;opacity: 0;}   /*second 3*/
        49.8%{top: 34.3%;opacity: 0;}   /*second 4*/
        83%{top: 34.3%;opacity: 0;}
        83.1%{top: 34.3%;opacity: 1;}           /*second 5*/
        100%{top: 25%;opacity: 1;}           /*second 6*/
        
    }
}

@media(height:1024px){
    #OpenTruck{
        width: 37.5%;
        position: absolute;
        opacity: 1;
        top: 30%;
        left: 6%;
        animation-name: To_open_truck;
        animation-duration: 6s;
    }
    #EmptyTruck{
        width: 35%;
        position: absolute;
        top: 25%;
        left: 7%;
        animation-name: Down_truck;
        animation-duration: 6s;
        animation-timing-function: ease;
    }
    @keyframes Down_truck {
        0%{top: 25%;}                   /*second 1*/
        16.2%{top: 34.3%;opacity: 1;}  
        16.7%{top: 34.3%;opacity: 0;}  /*second 2*/
        33.3%{top: 34.3%;opacity: 0;}   /*second 3*/
        49.8%{top: 34.3%;opacity: 0;}   /*second 4*/
        83%{top: 34.3%;opacity: 0;}
        83.1%{top: 34.3%;opacity: 1;}           /*second 5*/
        100%{top: 25%;opacity: 1;}           /*second 6*/
        
    }
}
@media(width:540px){
    #OpenTruck{
        width: 37.5%;
        position: absolute;
        opacity: 0;
        top: 17%;
        left: 6%;
        animation-name: To_open_truck;
        animation-duration: 6s;
    }
    #EmptyTruck{
        width: 35%;
        position: absolute;
        top: 12%;
        left: 7%;
        animation-name: Down_truck;
        animation-duration: 6s;
        animation-timing-function: ease;
    }
    @keyframes Down_truck {
        0%{top: 12%;}                   /*second 1*/
        16.2%{top: 19.7%;opacity: 1;}  
        16.7%{top: 19.7%;opacity: 0;}  /*second 2*/
        33.3%{top: 19.7%;opacity: 0;}   /*second 3*/
        49.8%{top: 19.7%;opacity: 0;}   /*second 4*/
        83%{top: 19.7%;opacity: 0;}
        83.1%{top: 19.7%;opacity: 1;}           /*second 5*/
        100%{top: 12%;opacity: 1;}           /*second 6*/
        
    }
}
@media(width:768px){
    #OpenTruck{
        width: 37.5%;
        position: absolute;
        opacity: 0;
        top: 17%;
        left: 6%;
        animation-name: To_open_truck;
        animation-duration: 6s;
    }
    #EmptyTruck{
        width: 35%;
        position: absolute;
        top: 12%;
        left: 7%;
        animation-name: Down_truck;
        animation-duration: 6s;
        animation-timing-function: ease;
    }
    @keyframes Down_truck {
        0%{top: 12%;}                   /*second 1*/
        16.2%{top: 19.7%;opacity: 1;}  
        16.7%{top: 19.7%;opacity: 0;}  /*second 2*/
        33.3%{top: 19.7%;opacity: 0;}   /*second 3*/
        49.8%{top: 19.7%;opacity: 0;}   /*second 4*/
        83%{top: 19.7%;opacity: 0;}
        83.1%{top: 19.7%;opacity: 1;}           /*second 5*/
        100%{top: 12%;opacity: 1;}           /*second 6*/
        
    }
}
@media(height:1366px){
    #OpenTruck{
        width: 37.5%;
        position: absolute;
        opacity: 0;
        top: 17%;
        left: 6%;
        animation-name: To_open_truck;
        animation-duration: 6s;
    }
    #EmptyTruck{
        width: 35%;
        position: absolute;
        top: 12%;
        left: 7%;
        animation-name: Down_truck;
        animation-duration: 6s;
        animation-timing-function: ease;
    }
    @keyframes Down_truck {
        0%{top: 12%;}                   /*second 1*/
        16.2%{top: 19.7%;opacity: 1;}  
        16.7%{top: 19.7%;opacity: 0;}  /*second 2*/
        33.3%{top: 19.7%;opacity: 0;}   /*second 3*/
        49.8%{top: 19.7%;opacity: 0;}   /*second 4*/
        83%{top: 19.7%;opacity: 0;}
        83.1%{top: 19.7%;opacity: 1;}           /*second 5*/
        100%{top: 12%;opacity: 1;}           /*second 6*/
        
    }
}

@media(height:950px){
    
    #OpenTruck{
        width: 37%;
        position: absolute;
        opacity: 0;
        top: 37%;
        left: 6%;
        animation-name: To_open_truck;
        animation-duration: 6s;
    }
    #EmptyTruck{
        width: 34%;
        position: absolute;
        top: 30%;
        left: 7%;
        animation-name: Down_truck;
        animation-duration: 6s;
        animation-timing-function: ease;
    }
    @keyframes Down_truck {
        0%{top: 30%;}                   /*second 1*/
        16.2%{top: 42%;opacity: 1;}  
        16.7%{top: 42%;opacity: 0;}  /*second 2*/
        33.3%{top: 42%;opacity: 0;}   /*second 3*/
        49.8%{top: 42%;opacity: 0;}   /*second 4*/
        83%{top: 42%;opacity: 0;}
        83.1%{top: 42%;opacity: 1;}           /*second 5*/
        100%{top: 30%;opacity: 1;}           /*second 6*/
        
    }
}
@media(min-width:1600px){
    #OpenTruck{
        width: 36%;
        position: absolute;
        opacity: 0;
        top: 40%;
        left: 7%;
        animation-name: To_open_truck;
        animation-duration: 6s;
    }
    #EmptyTruck{
        width: 30%;
        position: absolute;
        top: 37%;
        left: 8%;
        animation-name: Down_truck;
        animation-duration: 6s;
        animation-timing-function: ease;
    }
    @keyframes Down_truck {
        0%{top: 37%;}                   /*second 1*/
        16.2%{top: 45.9%;opacity: 1;}  
        16.7%{top: 45.9%;opacity: 0;}  /*second 2*/
        33.3%{top: 45.9%;opacity: 0;}   /*second 3*/
        49.8%{top: 45.9%;opacity: 0;}   /*second 4*/
        83%{top: 45.9%;opacity: 0;}
        83.1%{top: 45.9%;opacity: 1;}           /*second 5*/
        100%{top: 37%;opacity: 1;}           /*second 6*/
        
    }
}
@media(min-width:2170px){
    #OpenTruck{
        width: 36%;
        position: absolute;
        opacity: 0;
        top: 45%;
        left: 9%;
        animation-name: To_open_truck;
        animation-duration: 6s;
    }
    #EmptyTruck{
        width: 34%;
        position: absolute;
        top: 40%;
        left: 10%;
        animation-name: Down_truck;
        animation-duration: 6s;
        animation-timing-function: ease;
    }
    @keyframes Down_truck {
        0%{top: 40%;}                   /*second 1*/
        16.2%{top: 50%;opacity: 1;}  
        16.7%{top: 50%;opacity: 0;}  /*second 2*/
        33.3%{top: 50%;opacity: 0;}   /*second 3*/
        49.8%{top: 50%;opacity: 0;}   /*second 4*/
        83%{top: 50%;opacity: 0;}
        83.1%{top: 50%;opacity: 1;}           /*second 5*/
        100%{top: 40%;opacity: 1;}           /*second 6*/
        
    }
}

#mobile_animation{
    display: none;
}


@media(max-height:900px){
    
    .boxes{
        margin-top: 5%;
    }
    
}
@media(max-height:600px){
    
    .boxes{
        margin-top: -4%;
    }
    
}
@media(min-width:1600px){
    
    .boxes{
        margin-top: 5%;
    }
    
}
@media(min-width:1950px){
    
    .Networks_column{
        margin-bottom: 0;
    }
    .Footer{
        margin-top: 5%;
    }
    
}
@media(min-width:2400px){
    
    .Networks_column{
        margin-bottom: 0;
    }
    .Footer{
        margin-top: 5%;
    }
    
}
@media(max-width:1125px){
    .nav_bar{
        font-size: 15px;
    }
    .pagination-bar p{
        font-size: 15px;
    }
    .ProductCard{
        font-size: 14px;
    }
    .TextTruck{
        font-size: 17px;
    }
    .buy_button{
        font-size: 13px;
    }
    .EmptyCart{
        font-size: 34px;
    }
    .Cart-title h2{
        font-size: 32px;
    }
    #Products{
        font-size: 14px;
    }
    .product_name{
        font-size: 10px;
    }
    .price{
        font-size: 13px;
    }
    .buy_product{
        font-size: 12px;
    }
    #TextTruck{
        font-size: 20px;
    }
    
    label{
        font-size: 19px;
    }
    input{
        font-size: 15px;
    }
    .Search-div input{
        font-size: 12px;
    }
    select{
        font-size: 15px;
    }
    .form_button{
        font-size: 14px;
    }
    
}

@media(max-width:1020px){
    
    
    .nav_bar{
        font-size: 13px;
    }
    .pagination-bar p{
        font-size: 13px;
    }
    .ProductCard{
        font-size: 11.5px;
    }
    .TextTruck{
        font-size: 14.5px;
    }
    .buy_button{
        font-size: 11px;
    }
    #Products{
        font-size: 11.5px;
    }
    .EmptyCart{
        font-size: 31px;
    }
    .Cart-title h2{
        font-size: 29px;
    }
    .product_name{
        font-size: 8px;
    }
    .price{
        font-size: 11px;
    }
    .buy_product{
        font-size: 11px;
    }
    #TextTruck{
        font-size: 17px;
    }
    
    label{
        font-size: 17px;
    }
    input{
        font-size: 14px;
    }
    .Search-div input{
        font-size: 11px;
    }
    select{
        font-size: 14px;
    }
    .form_button{
        font-size: 13px;
    }
}
@media(max-width:950px){
    
    
    .nav_bar{
        font-size: 10.5px;
    }
    .pagination-bar p{
        font-size: 12px;
    }
    .ProductCard{
        font-size: 10px;
    }
    .TextTruck{
        font-size: 13px;
    }
    .buy_button{
        font-size: 9px;
    }
    #Products{
        font-size: 11.5px;
    }
    .EmptyCart{
        font-size: 28px;
    }
    .Cart-title h2{
        font-size: 26px;
    }
    .product_name{
        font-size: 8px;
    }
    .price{
        font-size: 9px;
    }
    .buy_product{
        font-size: 9px;
    }
    #TextTruck{
        font-size: 16px;
    }
    
    label{
        font-size: 16px;
    }
    input{
        font-size: 13px;
        height: 10%;
    }
    .Search-div input{
        font-size: 10px;
    }
    select{
        font-size: 13px;
        height: 10%;
    }
    .form_button{
        font-size: 12px;
    }
    #TextTruck{
        font-size: 15px;
    }
    
}
@media(max-width:760px){
    .nav_bar{
        font-size: 9px;
    }
    .pagination-bar p{
        font-size: 11px;
    }
    .ProductCard{
        font-size: 9px;
    }
    .TextTruck{
        font-size: 10px;
    }
    .buy_button{
        font-size: 8px;
    }
    #Products{
        font-size: 9px;
    }
    .EmptyCart{
        font-size: 25px;
    }
    .product_name{
        font-size: 7px;
    }
    .price{
        font-size: 8px;
    }
    .buy_product{
        font-size: 8px;
    }
    #TextTruck{
        font-size: 13px;
    }
    
    label{
        font-size: 16px;
    }
    input{
        font-size: 13px;
        height: 9%;
    }
    .Search-div input{
        font-size: 9px;
    }
    select{
        font-size: 13px;
        height: 9%;
    }
    .form_button{
        font-size: 12px;
    }
    
}
@media(max-width:670px){
    .nav_bar{
        font-size: 9px;
    }
    .pagination-bar p{
        font-size: 9px;
    }
    .ProductCard{
        font-size: 8px;
    }
    .TextTruck{
        font-size: 8px;
    }
    .buy_button{
        font-size: 7px;
    }
    #Products{
        font-size: 8px;
    }
    .EmptyCart{
        font-size: 24px;
    }
    .Cart-title h2{
        font-size: 20px;
    }
    .product_name{
        font-size: 6px;
    }
    .price{
        font-size: 7px;
    }
    .buy_product{
        font-size: 7px;
    }
    #TextTruck{
        font-size: 10px;
    }
    label{
        font-size: 13px;
    }
    input{
        font-size: 12px;
        height: 7%;
    }
    .Search-div input{
        font-size: 8px;
    }
    select{
        font-size: 12px;
        height: 7%;
    }
    .form_button{
        font-size: 10px;
    }
    
}
@media(max-width:570px){
    .nav_bar{
        font-size: 8px;
    }
    .pagination-bar p{
        font-size: 8px;
    }
    .ProductCard{
        font-size: 7px;
    }
    .TextTruck{
        font-size: 7px;
    }
    .buy_button{
        font-size: 6px;
    }
    #Products{
        font-size: 7px;
    }
    .EmptyCart{
        font-size: 22px;
    }
    .Cart-title h2{
        font-size: 20px;
    }
    .product_name{
        font-size: 5px;
    }
    .price{
        font-size: 6px;
    }
    .buy_product{
        font-size: 6px;
    }
    #TextTruck{
        font-size: 9px;
    }
    label{
        font-size: 12px;
    }
    input{
        font-size: 11px;
        height: 7%;
    }
    .Search-div input{
        font-size: 7px;
    }
    select{
        font-size: 10px;
        height: 7%;
    }
    .form_button{
        font-size: 9px;
    }
    
}



@media(max-width:500px){

    /* ************Hiding Desk Views******** */
    .Column{
        display: none;
    }
    .Networks_column{
        display: none;
    }
    .Footer{
        display: none;
    }
    .spec-product-div{
        display: none;
    }
    .Left_side{
        display: none;
    }
    .Nav_bar{
        display: none;
    }
    .Bath_products{
        display: none;
    }
    .Garden_products{
        display: none;
    }
    .Tools_products{
        display: none;
    }
    .buy_form{
        display: block;
    }
    .Principal{
        display: none;
    }
    .nav_bar{
        display: block;
    }
    .logo{
        display: none;
    }
    .X_Bar{
        display: none;
    }
    #TextTruck{
        display: none;
    }
    #ReciclePallets{
        display: none;
    }
    
    
    /********** Showing mobile Views***********/
    .Presentation{
        display: block;
    }
    .Pallets_mob{
        display:block;
    }
    .Products_mob{
        display: block;
    }
    .Garden_products_mob{
        display: block;
    }
    .Bath_mob{
        display: block;
    }
    .Tools_mob{
        display: block;
    }
    .Animation_mob{
        display: block;
    }
    .buy_form_mob{
        display: block;  
    }
    #NavBar_mob{
        display: block;
    }
    .Footer_mob{
        display: block;
    }
    .nav{
        display: flex !important;
    }

    /*Adjusting Desk to Mobile Version*/
    
    .Pallets-div{
        display: block;
    }
    .StaticTruck-div{
        width: 80%;
        padding-top: 3.7%;
        margin-left: 10%;
    }
    
    .product-card{
        margin-left: 3%;
        width: 94%;
    }
    
    .StaticTruck-div{
        display: block;
    }
    .Right_side{
        display: block;
        margin-left: 5%;
        margin-top: 8%;
        width: 90%;
        text-align: right;
    }
    .ProductCard{
        font-size: 17px;
        width: 100%;
    }
    .buy_button{
        margin: 5% 0% 3% 0;
        font-size: 14px;
        width: 30%;
        padding: 1.5% 0%;
    }
    .buy_button{
        margin-bottom: 2vh;
    }
    .buy_button:last-of-type{
        margin-bottom: 5vh;
    }
    /*****************************/

    #FakeRightSide{
        animation-name: HidePallets;
        animation-duration: 6s;
        animation-timing-function: ease-in;
    }
    @keyframes HidePallets {
        0%{opacity: 0;}
        99%{opacity: 0;}
        100%{opacity: 1;}
    }
    .buy_form{
        z-index: 3 !important;
        background-color: #ffffff;
        border-radius: 0;
        width: 100%;
        height: 100%;
        position: static;
        margin-top: 5%;
    }
    .form_button{
        margin-top: 7.5%;
        margin-left: 20%;
        font-size: 15px;
    }
    .form_button:first-of-type{
        margin-left: 8%; 
    }
    .Add2Cart{
        display: none;
        margin-top: -9.3%;
        margin-left: 57%;
    }
    .Add2Cart2{
        display: block;
        margin-top: -9.3%;
        margin-left: 57%;
    }
    .form_side{
        width: 100%;
        padding: 50% 0;
    }
    .form_left{
        padding: 10% 5% 1% 5%;
    }
    .form_right{
        padding: 0% 5% 15% 5%;
    }
    label{
        margin-left: 11%;
        font-size: 21px;
    }
    input{
        width: 85%;
        margin-left: 7.5%;
        padding: 5% 0;
        border-radius: 0.4rem;
        border: none;
        background-color: #ff524f27;
        padding-left: 3%;
        font-size: 16px;
    }
    select{
        font-size: 16px;
        margin-left: 7.5%;
        width: 85%;
        padding: 5% 3%;
    }
    

    /************************/

    .Products-div{
        display: block;
    }
    .StaticTruck-divProd{ 
        display: block;
        width: 80%;
        padding-top: 10%;
        margin-left: 10%;
        margin-bottom: 15%;
    }
    .ModuleImg-div{
        width: 37%;
    }
    .CardProducts{
        margin-bottom: 13%;
        padding: 1.5% 2.5%;
        width: 95%;
        margin-left: 2.5%;
    }
    .nav{
        width: 100%;
        align-items: center;
        padding: 4% 0;
        padding-top: 0%;
        background-color: white; 
        box-shadow: 0px 5px 7px   rgb(218, 216, 216);
        border-bottom-left-radius: 1.7rem;
        border-bottom-right-radius: 1.7rem;
        font-size: 12px;
    }
    .link-div{
        width: 21%;
    }
    .LinkImg{
        margin-right: 10%;
    }
    .NavLink-div{
        justify-content: space-around;
    }
}    

