/*General*********************/
*{
    text-align: left;
    margin: 0;
    padding:0;
}
a{
    cursor: pointer;
    text-decoration: none;
}
button{
    cursor: pointer;
}
input:focus{
    outline: none;
}
button:focus{
    outline: none;
}
select:focus{
    outline: none;
}

/**************Animations************************/
#Animation{
    display: none;
}
@keyframes Down_truck {
    0%{top: 33%;}                   /*second 1*/
    16.2%{top: 45%;opacity: 1;}  
    16.7%{top: 45%;opacity: 0;}  /*second 2*/
    33.3%{top: 45%;opacity: 0;}   /*second 3*/
    49.8%{top: 45%;opacity: 0;}   /*second 4*/
    83%{top: 45%;opacity: 0;}
    83.1%{top: 45%;opacity: 1;}                 /*second 5*/
    100%{top: 31%;opacity: 1;}                  /*second 6*/
    
}
@keyframes To_open_truck {
    0%{opacity: 0;}
    16.5%{ opacity: 0;} /*The truck open right in the second 1*/
    16.7%{ opacity: 1;}
    33.3%{ opacity: 1;}
    49.8%{ opacity: 1;}
    82.8%{ opacity: 1;} /*The truck close right in the second 5*/
    83%{ opacity: 0;}
    100%{ opacity: 0;}

}
@keyframes Show_Text {
    0%{opacity: 1;}
    25%{opacity: 1;}
    50%{opacity: 1;}
    100%{opacity: 1;}
}
@keyframes ChargeDron {
    0%{left: -25%;}      
    16.7%{left: -25%;} 
    33.3%{left: 14.5%;}  
    49.5%{left: 14.5%; opacity: 1;}
    49.8%{left: 14.5%;opacity: 0;}   
    83%{left: 14.5%;opacity: 0;}     
    100%{left: -25%;opacity: 0;} 
}
@keyframes EmptyDron {
    0%{left: -25%;}      
    16.7%{left: -25%;} 
    33.3%{left: 14.5%;}  
    49.5%{left: 14.5%; opacity: 0;}
    49.8%{left: 14.5%;opacity: 1;}   
    83%{left: 14.5%;opacity: 1;}     
    100%{left: -25%;opacity: 1;} 
}
/*****************end of Animations***************/

/*--------NAV-BAR----------*/

.nav_bar{
    margin-top: -0.5%;
    margin-bottom: 1.5%;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    max-height: 15vh;
}
.logo{
    width: 15%;
    margin-left: 5%;
}
.logo_img{
    margin-top: 15% !important;
    padding-bottom: 20% !important;
}
.nav{
    margin-top: 5%;
    width: 60%;
    display: flex;
    justify-content: space-around;
    margin-right: 1%;
}
.link-div{
    width: 17%;
}
.link-div:last-of-type{
    margin-right: 0;
}
.link-div{
    cursor: pointer;
    display: flex ;
    justify-content: space-around !important;
    align-items: center !important;
}
.LinkImg{
    width: 40%;
}
.LinkName{
    width: 50%;
}
.NavLink-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 77%;
}
#NavBar_mob{
    display: none;
}
/*--------end of NAV-BAR----------*/



/*--------Fotter----------*/
.Footer{
    display: flex;
    justify-content: space-between;
}
.boxes{
    width: 30%;
    text-align: end;
    margin-right: 3%;
}
.boxes_img{
    width: 70%;
}

/*--------end Fotter----------*/

/*--------Pallets View----------*/
.ColumnLink{
    width: 35%;
}
.Pallets-div{
    margin-top: 0.5%;
    display: flex;
    justify-content: space-between;
}
.product{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.StaticTruck-div{ 
    display: none;
}
#EmptyTruck{
    width: 34%;
    position: absolute;
    top: 32%;
    left: 6.6%;
    animation-name: Down_truck;
    animation-duration: 6s;
    animation-timing-function: ease;
}
#OpenTruck{
    width: 36%;
    position: absolute;
    opacity: 0;
    top: 38%;
    left: 5%;
    animation-name: To_open_truck;
    animation-duration: 6s;
}
#ChargeDron{
    width: 9%;
    position: absolute;
    padding-top: 0%;
    left: -25%;
    animation-name: ChargeDron;
    animation-duration: 6s;
    animation-timing-function: linear;
}
#EmptyDron{
    opacity: 0;
    width: 9%;
    position: absolute;
    padding-top: 0%;
    left: -25%;
    animation-name: EmptyDron;
    animation-duration: 6s;
    animation-timing-function: linear;
}
#TextTruck{
    opacity: 0;
    position: absolute;
    top: 90%;
    margin-left: 13%;
    font-size: 20px;
    animation-name: Show_Text;
    animation-duration: 6s;
}
#Pallets{
    margin-left: 40%;
}
.Right_side{
    justify-content: space-around;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 7%;
    margin-bottom: 5%;
    text-align: right;
}
.product-card{
    margin-left: 3%;
    width: 30%;
}
.ProductCard{
    font-size: 16px;
    width: 90%;
    padding: 1% 5%;
    border-radius: 0.4rem;
    box-shadow: 1px 2.5px 5px   rgb(218, 216, 216) ;
}

.buy_button{
    box-shadow: 3px 4px 3px   rgb(218, 216, 216) ;
    margin: 5% 10% 10% 0;
    font-size: 14px;
    width: 30%;
    padding: 0.9% 0%;
    border-radius: 1rem;
    border: none;
    text-align: center;
    background-color: #FF524F;
    color: white;
    align-self: flex-end;
}

.pkg_numb{
    margin-left: -15%;
}
.Networks_column{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3%;
    margin-top: -1%;
    width: 100% ;
    margin-left: 9.5%;
}
.ModuleImg-div{
    width: 19%;
    padding-right: 2%;
}
.Footer_mob{
    display: none;
}
/*--------end of Pallets View----------*/




/*-------- Product View----------*/

.StaticTruck-divProd{ 
    display: none;
}
.Products-div{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.CardProducts{
    margin-bottom: 3%;
    padding: 1% 1.5%;
    width: 30%;
    margin-left: 3%;
}
.see_product_desk{
    cursor: pointer;
}
.prod_name{
    text-align: left;
    margin-left: -12%;
}
/*--------end of Product View----------*/


/*--------buy_form----------*/
#buy_form_desk{
    display: none; 
}
.buy_form{
    z-index: 3;
    display: flex;
    background-color: #ffffff;
    border-radius: 5rem;
    width: 86%;
    position: relative;
    margin-top: -4%;
    left: 7.5%;
    margin-bottom: -6.5%;
}
.form_side{
    width: 50%;
    padding: 4% 0;
    padding-bottom: 12.5%;
}

.form_left{
    padding-right: 0%;  
    padding-left: 12%;
}
.form_right{
    padding-left: 0%;
    padding-right: 2%;
}
label{
    margin-left: 4%;
    font-size: 21px;
}
input{
    margin-top: 1.5%;
    margin-bottom: 4%;
    width: 72%;
    height: 16%;
    border-radius: 0.4rem;
    border: none;
    background-color: #ff524f27;
    padding-left: 3%;
    font-size: 16px;
}
select{
    font-size: 16px;
    margin-top: 1.5%;
    margin-bottom: 4%;
    width: 72%;
    height: 16%;
    border-radius: 0.4rem;
    border: none;
    background-color: #ff524f27;
    padding-left: 3%;
}
.form_button{
    margin-left: 10%;
    width: 32%;
    background-color: white;
    margin-top: 7.5%;
    padding: 2.5% 0;
    border: none;
    border-radius: 2rem;
    text-align: center;
    color: rgb(145, 145, 145);
    font-size: 15px;
    font-weight: 800;
    box-shadow: 0.8px 3px 5px  rgb(199, 198, 198) ;
}
.form_button:first-of-type{
    margin-left: -1%; 
}
.Add2Cart2{
    display: none;
}
.Add2Cart{
    display: block;
    margin-top: -8.5%;
    margin-left: 41.2%;
}
#FakeRightSide{
    margin-top: 74%;
}
/*--------end of buy_form----------*/


/*--------Bathroom Products--------*/
.upline{
    display: flex;
    justify-content: space-between;
}
.downline{
    margin-top: -2%;
    display: flex;
    justify-content: space-between;
}
.product_name{
    font-size: 11px;
}
.price{
    font-size: 14px;
    margin-top: 3%;
}
.buy_product{
    box-shadow: 3px 4px 3px   rgb(218, 216, 216) ;
    font-size: 13px;
    margin-top: 4%;
    width: 100%;
    padding: 3.5%;
    border-radius: 1rem;
    border: none;
    text-align: center;
    color: white;
}
.bath_single_product{
    margin-top: 0.5%;
    width: 21%;
    margin-bottom: 10%;
    margin-right: -10%;
}
.red_button{
    background-color: #FF524F;
}
.violet_button{
    background-color: #605BB2;
}
.blue_button{
    background-color: #1D4259;
}
.brown_button{
    background-color: #B22825;
}
/*--------end of Bathroom_products----------*/


/* Garden Products*******************/
.spec-product-div{
    display: flex;
    justify-content: space-between;
}
.Garden_products{
    margin-left: 7%;
    margin-top: -2%;
    width: 36%;
}
/*end of Garden Products*************/


/* Tools Products*******************/
.Tools_products{
    display: none;/*Unvisible as default***************/
    margin-left: 46.5%;
    margin-top: -34%;
    width: 36%;
}
/*end of Tools Products*************/


/********X_Bar*************************/
.X_Bar{
    width: 28%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 43.5%;
    height: 5vh;
    margin-bottom: -1.2%;
}
.arrow{
    cursor: pointer;
}
.arrow-div{
    text-align: center;
    width: 29%;
}
.numbers{
    width: 15%;
    display: flex;
    justify-content: space-between;
    margin-top: -4.5%;
    margin-right: 30%;
}
.numbers p{
    cursor: pointer;
    font-size: 16px;
    margin-right: 35%;
    font-weight: 200;
}
.actual_numb{
    font-weight: 400;
}
/********end of X_Bar*************************/


/*JS Functions****************/
.disabled{
    display: none;
}
.enabled{
    display: block;
}

/*Hiding Mobile version*/
.Presentation{
    display: none;
}
.Pallets_mob{
    display:none;
}
.Products_mob{
    display: none;
}
.Garden_products_mob{
    display: none;
}
.Bath_mob{
    display: none;
}
.Tools_mob{
    display: none;
}
.buy_form_mob{
    display: none;
}

@media(height:540px){
    #OpenTruck{
        width: 37.5%;
        position: absolute;
        opacity: 1;
        top: 30%;
        left: 6%;
        animation-name: To_open_truck;
        animation-duration: 6s;
    }
    #EmptyTruck{
        width: 35%;
        position: absolute;
        top: 25%;
        left: 7%;
        animation-name: Down_truck;
        animation-duration: 6s;
        animation-timing-function: ease;
    }
    @keyframes Down_truck {
        0%{top: 25%;}                   /*second 1*/
        16.2%{top: 34.3%;opacity: 1;}  
        16.7%{top: 34.3%;opacity: 0;}  /*second 2*/
        33.3%{top: 34.3%;opacity: 0;}   /*second 3*/
        49.8%{top: 34.3%;opacity: 0;}   /*second 4*/
        83%{top: 34.3%;opacity: 0;}
        83.1%{top: 34.3%;opacity: 1;}           /*second 5*/
        100%{top: 25%;opacity: 1;}           /*second 6*/
        
    }
}

@media(height:768px){
    #OpenTruck{
        width: 37.5%;
        position: absolute;
        opacity: 0;
        top: 30%;
        left: 6%;
        animation-name: To_open_truck;
        animation-duration: 6s;
    }
    #EmptyTruck{
        width: 35%;
        position: absolute;
        top: 25%;
        left: 7%;
        animation-name: Down_truck;
        animation-duration: 6s;
        animation-timing-function: ease;
    }
    @keyframes Down_truck {
        0%{top: 25%;}                   /*second 1*/
        16.2%{top: 34.3%;opacity: 1;}  
        16.7%{top: 34.3%;opacity: 0;}  /*second 2*/
        33.3%{top: 34.3%;opacity: 0;}   /*second 3*/
        49.8%{top: 34.3%;opacity: 0;}   /*second 4*/
        83%{top: 34.3%;opacity: 0;}
        83.1%{top: 34.3%;opacity: 1;}           /*second 5*/
        100%{top: 25%;opacity: 1;}           /*second 6*/
        
    }
}

@media(height:1024px){
    #OpenTruck{
        width: 37.5%;
        position: absolute;
        opacity: 1;
        top: 30%;
        left: 6%;
        animation-name: To_open_truck;
        animation-duration: 6s;
    }
    #EmptyTruck{
        width: 35%;
        position: absolute;
        top: 25%;
        left: 7%;
        animation-name: Down_truck;
        animation-duration: 6s;
        animation-timing-function: ease;
    }
    @keyframes Down_truck {
        0%{top: 25%;}                   /*second 1*/
        16.2%{top: 34.3%;opacity: 1;}  
        16.7%{top: 34.3%;opacity: 0;}  /*second 2*/
        33.3%{top: 34.3%;opacity: 0;}   /*second 3*/
        49.8%{top: 34.3%;opacity: 0;}   /*second 4*/
        83%{top: 34.3%;opacity: 0;}
        83.1%{top: 34.3%;opacity: 1;}           /*second 5*/
        100%{top: 25%;opacity: 1;}           /*second 6*/
        
    }
}
@media(width:540px){
    #OpenTruck{
        width: 37.5%;
        position: absolute;
        opacity: 0;
        top: 17%;
        left: 6%;
        animation-name: To_open_truck;
        animation-duration: 6s;
    }
    #EmptyTruck{
        width: 35%;
        position: absolute;
        top: 12%;
        left: 7%;
        animation-name: Down_truck;
        animation-duration: 6s;
        animation-timing-function: ease;
    }
    @keyframes Down_truck {
        0%{top: 12%;}                   /*second 1*/
        16.2%{top: 19.7%;opacity: 1;}  
        16.7%{top: 19.7%;opacity: 0;}  /*second 2*/
        33.3%{top: 19.7%;opacity: 0;}   /*second 3*/
        49.8%{top: 19.7%;opacity: 0;}   /*second 4*/
        83%{top: 19.7%;opacity: 0;}
        83.1%{top: 19.7%;opacity: 1;}           /*second 5*/
        100%{top: 12%;opacity: 1;}           /*second 6*/
        
    }
}
@media(width:768px){
    #OpenTruck{
        width: 37.5%;
        position: absolute;
        opacity: 0;
        top: 17%;
        left: 6%;
        animation-name: To_open_truck;
        animation-duration: 6s;
    }
    #EmptyTruck{
        width: 35%;
        position: absolute;
        top: 12%;
        left: 7%;
        animation-name: Down_truck;
        animation-duration: 6s;
        animation-timing-function: ease;
    }
    @keyframes Down_truck {
        0%{top: 12%;}                   /*second 1*/
        16.2%{top: 19.7%;opacity: 1;}  
        16.7%{top: 19.7%;opacity: 0;}  /*second 2*/
        33.3%{top: 19.7%;opacity: 0;}   /*second 3*/
        49.8%{top: 19.7%;opacity: 0;}   /*second 4*/
        83%{top: 19.7%;opacity: 0;}
        83.1%{top: 19.7%;opacity: 1;}           /*second 5*/
        100%{top: 12%;opacity: 1;}           /*second 6*/
        
    }
}
@media(height:1366px){
    #OpenTruck{
        width: 37.5%;
        position: absolute;
        opacity: 0;
        top: 17%;
        left: 6%;
        animation-name: To_open_truck;
        animation-duration: 6s;
    }
    #EmptyTruck{
        width: 35%;
        position: absolute;
        top: 12%;
        left: 7%;
        animation-name: Down_truck;
        animation-duration: 6s;
        animation-timing-function: ease;
    }
    @keyframes Down_truck {
        0%{top: 12%;}                   /*second 1*/
        16.2%{top: 19.7%;opacity: 1;}  
        16.7%{top: 19.7%;opacity: 0;}  /*second 2*/
        33.3%{top: 19.7%;opacity: 0;}   /*second 3*/
        49.8%{top: 19.7%;opacity: 0;}   /*second 4*/
        83%{top: 19.7%;opacity: 0;}
        83.1%{top: 19.7%;opacity: 1;}           /*second 5*/
        100%{top: 12%;opacity: 1;}           /*second 6*/
        
    }
}

@media(height:950px){
    
    #OpenTruck{
        width: 37%;
        position: absolute;
        opacity: 0;
        top: 37%;
        left: 6%;
        animation-name: To_open_truck;
        animation-duration: 6s;
    }
    #EmptyTruck{
        width: 34%;
        position: absolute;
        top: 30%;
        left: 7%;
        animation-name: Down_truck;
        animation-duration: 6s;
        animation-timing-function: ease;
    }
    @keyframes Down_truck {
        0%{top: 30%;}                   /*second 1*/
        16.2%{top: 42%;opacity: 1;}  
        16.7%{top: 42%;opacity: 0;}  /*second 2*/
        33.3%{top: 42%;opacity: 0;}   /*second 3*/
        49.8%{top: 42%;opacity: 0;}   /*second 4*/
        83%{top: 42%;opacity: 0;}
        83.1%{top: 42%;opacity: 1;}           /*second 5*/
        100%{top: 30%;opacity: 1;}           /*second 6*/
        
    }
}
@media(min-width:1600px){
    #OpenTruck{
        width: 36%;
        position: absolute;
        opacity: 0;
        top: 40%;
        left: 7%;
        animation-name: To_open_truck;
        animation-duration: 6s;
    }
    #EmptyTruck{
        width: 30%;
        position: absolute;
        top: 37%;
        left: 8%;
        animation-name: Down_truck;
        animation-duration: 6s;
        animation-timing-function: ease;
    }
    @keyframes Down_truck {
        0%{top: 37%;}                   /*second 1*/
        16.2%{top: 45.9%;opacity: 1;}  
        16.7%{top: 45.9%;opacity: 0;}  /*second 2*/
        33.3%{top: 45.9%;opacity: 0;}   /*second 3*/
        49.8%{top: 45.9%;opacity: 0;}   /*second 4*/
        83%{top: 45.9%;opacity: 0;}
        83.1%{top: 45.9%;opacity: 1;}           /*second 5*/
        100%{top: 37%;opacity: 1;}           /*second 6*/
        
    }
}
@media(min-width:2170px){
    #OpenTruck{
        width: 36%;
        position: absolute;
        opacity: 0;
        top: 45%;
        left: 9%;
        animation-name: To_open_truck;
        animation-duration: 6s;
    }
    #EmptyTruck{
        width: 34%;
        position: absolute;
        top: 40%;
        left: 10%;
        animation-name: Down_truck;
        animation-duration: 6s;
        animation-timing-function: ease;
    }
    @keyframes Down_truck {
        0%{top: 40%;}                   /*second 1*/
        16.2%{top: 50%;opacity: 1;}  
        16.7%{top: 50%;opacity: 0;}  /*second 2*/
        33.3%{top: 50%;opacity: 0;}   /*second 3*/
        49.8%{top: 50%;opacity: 0;}   /*second 4*/
        83%{top: 50%;opacity: 0;}
        83.1%{top: 50%;opacity: 1;}           /*second 5*/
        100%{top: 40%;opacity: 1;}           /*second 6*/
        
    }
}

#mobile_animation{
    display: none;
}


@media(max-height:900px){
    .nav_bar{
        margin-bottom: 5%;
    }
    .boxes{
        margin-top: 5%;
    }
    
}
@media(max-height:600px){
    .nav_bar{
        margin-bottom: 1%;
    }
    .boxes{
        margin-top: -4%;
    }
    
}
@media(min-width:1600px){
    .nav_bar{
        margin-bottom: 5%;
    }
    .boxes{
        margin-top: 5%;
    }
    
}
@media(min-width:1950px){
    .nav_bar{
        margin-bottom: 5%;
    }
    .boxes{
        margin-top: 5%;
    }
    
}
@media(min-width:2400px){
    .nav_bar{
        margin-bottom: 3%;
    }
    .boxes{
        margin-top: 5%;
    }
    
}
@media(max-width:1125px){
    .nav_bar{
        font-size: 15px;
    }
    .numbers p{
        font-size: 15px;
    }
    .ProductCard{
        font-size: 14px;
    }
    .TextTruck{
        font-size: 17px;
    }
    .buy_button{
        font-size: 13px;
    }
    #Products{
        font-size: 14px;
    }
    .product_name{
        font-size: 10px;
    }
    .price{
        font-size: 13px;
    }
    .buy_product{
        font-size: 12px;
    }
    #TextTruck{
        font-size: 20px;
    }
    
    label{
        font-size: 19px;
    }
    input{
        font-size: 15px;
    }
    select{
        font-size: 15px;
    }
    .form_button{
        font-size: 14px;
    }
    
}

@media(max-width:1020px){
    
    
    .nav_bar{
        font-size: 13px;
    }
    .numbers p{
        font-size: 13px;
    }
    .ProductCard{
        font-size: 11.5px;
    }
    .TextTruck{
        font-size: 14.5px;
    }
    .buy_button{
        font-size: 11px;
    }
    #Products{
        font-size: 11.5px;
    }
    .product_name{
        font-size: 8px;
    }
    .price{
        font-size: 11px;
    }
    .buy_product{
        font-size: 11px;
    }
    #TextTruck{
        font-size: 17px;
    }
    
    label{
        font-size: 17px;
    }
    input{
        font-size: 14px;
    }
    select{
        font-size: 14px;
    }
    .form_button{
        font-size: 13px;
    }
}
@media(max-width:950px){
    
    
    .nav_bar{
        font-size: 10.5px;
    }
    .numbers p{
        font-size: 12px;
    }
    .ProductCard{
        font-size: 10px;
    }
    .TextTruck{
        font-size: 13px;
    }
    .buy_button{
        font-size: 9px;
    }
    #Products{
        font-size: 11.5px;
    }
    .product_name{
        font-size: 8px;
    }
    .price{
        font-size: 9px;
    }
    .buy_product{
        font-size: 9px;
    }
    #TextTruck{
        font-size: 16px;
    }
    
    label{
        font-size: 16px;
    }
    input{
        font-size: 13px;
        height: 10%;
    }
    select{
        font-size: 13px;
        height: 10%;
    }
    .form_button{
        font-size: 12px;
    }
    #TextTruck{
        font-size: 15px;
    }
    
}
@media(max-width:760px){
    .nav_bar{
        font-size: 9px;
    }
    .numbers p{
        font-size: 11px;
    }
    .ProductCard{
        font-size: 9px;
    }
    .TextTruck{
        font-size: 10px;
    }
    .buy_button{
        font-size: 8px;
    }
    #Products{
        font-size: 9px;
    }
    .product_name{
        font-size: 7px;
    }
    .price{
        font-size: 8px;
    }
    .buy_product{
        font-size: 8px;
    }
    #TextTruck{
        font-size: 13px;
    }
    
    label{
        font-size: 16px;
    }
    input{
        font-size: 13px;
        height: 9%;
    }
    select{
        font-size: 13px;
        height: 9%;
    }
    .form_button{
        font-size: 12px;
    }
    
}
@media(max-width:670px){
    .nav_bar{
        font-size: 9px;
    }
    .numbers p{
        font-size: 9px;
    }
    .ProductCard{
        font-size: 8px;
    }
    .TextTruck{
        font-size: 8px;
    }
    .buy_button{
        font-size: 7px;
    }
    #Products{
        font-size: 8px;
    }
    .product_name{
        font-size: 6px;
    }
    .price{
        font-size: 7px;
    }
    .buy_product{
        font-size: 7px;
    }
    #TextTruck{
        font-size: 10px;
    }
    label{
        font-size: 13px;
    }
    input{
        font-size: 12px;
        height: 7%;
    }
    select{
        font-size: 12px;
        height: 7%;
    }
    .form_button{
        font-size: 10px;
    }
    
}
@media(max-width:570px){
    .nav_bar{
        font-size: 8px;
    }
    .numbers p{
        font-size: 8px;
    }
    .ProductCard{
        font-size: 7px;
    }
    .TextTruck{
        font-size: 7px;
    }
    .buy_button{
        font-size: 6px;
    }
    #Products{
        font-size: 7px;
    }
    .product_name{
        font-size: 5px;
    }
    .price{
        font-size: 6px;
    }
    .buy_product{
        font-size: 6px;
    }
    #TextTruck{
        font-size: 9px;
    }
    label{
        font-size: 12px;
    }
    input{
        font-size: 11px;
        height: 7%;
    }
    select{
        font-size: 10px;
        height: 7%;
    }
    .form_button{
        font-size: 9px;
    }
    
}



@media(max-width:500px){

    /* ************Hiding Desk Views******** */
    .Column{
        display: none;
    }
    .Networks_column{
        display: none;
    }
    .Footer{
        display: none;
    }
    .spec-product-div{
        display: none;
    }
    .Left_side{
        display: none;
    }
    .Nav_bar{
        display: none;
    }
    .Bath_products{
        display: none;
    }
    .Garden_products{
        display: none;
    }
    .Tools_products{
        display: none;
    }
    .buy_form{
        display: block;
    }
    .Principal{
        display: none;
    }
    .nav_bar{
        display: none;
    }
    .X_Bar{
        display: none;
    }
    #TextTruck{
        display: none;
    }
    #ReciclePallets{
        display: none;
    }
    
    
    /********** Showing mobile Views***********/
    .Presentation{
        display: block;
    }
    .Pallets_mob{
        display:block;
    }
    .Products_mob{
        display: block;
    }
    .Garden_products_mob{
        display: block;
    }
    .Bath_mob{
        display: block;
    }
    .Tools_mob{
        display: block;
    }
    .Animation_mob{
        display: block;
    }
    .buy_form_mob{
        display: block;  
    }
    #NavBar_mob{
        display: block;
    }
    .Footer_mob{
        display: block;
    }

    /*Adjusting Desk to Mobile Version*/
    
    .Pallets-div{
        display: block;
    }
    .StaticTruck-div{
        width: 85%;
        padding-top: 4%;
        margin-left: 5%;
    }
    
    .product-card{
        margin-left: 3%;
        width: 94%;
    }
    
    .StaticTruck-div{
        display: block;
    }
    .Right_side{
        display: block;
        margin-left: 5%;
        margin-top: 4%;
        width: 90%;
        text-align: right;
    }
    .ProductCard{
        font-size: 17px;
        width: 100%;
    }
    .buy_button{
        margin: 5% 0% 3% 0;
        font-size: 14px;
        width: 30%;
        padding: 1.5% 0%;
    }
    .buy_button{
        margin-bottom: 2vh;
    }
    .buy_button:last-of-type{
        margin-bottom: 5vh;
    }
    /*****************************/

    #FakeRightSide{
        animation-name: HidePallets;
        animation-duration: 6s;
        animation-timing-function: ease-in;
    }
    @keyframes HidePallets {
        0%{opacity: 0;}
        99%{opacity: 0;}
        100%{opacity: 1;}
    }
    .buy_form{
        z-index: 3 !important;
        background-color: #ffffff;
        border-radius: 0;
        width: 100%;
        height: 100%;
        position: static;
        margin-top: 5%;
    }
    .form_button{
        margin-top: 7.5%;
        margin-left: 20%;
        font-size: 15px;
    }
    .form_button:first-of-type{
        margin-left: 8%; 
    }
    .Add2Cart{
        display: none;
        margin-top: -9.3%;
        margin-left: 57%;
    }
    .Add2Cart2{
        display: block;
        margin-top: -9.3%;
        margin-left: 57%;
    }
    .form_side{
        width: 100%;
        padding: 50% 0;
    }
    .form_left{
        padding: 10% 5% 1% 5%;
    }
    .form_right{
        padding: 0% 5% 15% 5%;
    }
    label{
        margin-left: 11%;
        font-size: 21px;
    }
    input{
        width: 85%;
        margin-left: 7.5%;
        padding: 5% 0;
        border-radius: 0.4rem;
        border: none;
        background-color: #ff524f27;
        padding-left: 3%;
        font-size: 16px;
    }
    select{
        font-size: 16px;
        margin-left: 7.5%;
        width: 85%;
        padding: 5% 3%;
    }
    

    /************************/

    .Products-div{
        display: block;
    }
    .StaticTruck-divProd{ 
        display: block;
        width: 80%;
        padding-top: 10%;
        margin-left: 10%;
        margin-bottom: 15%;
    }
    .ModuleImg-div{
        width: 37%;
    }
    .prod_name{
        margin-left: -22%;
    }
    .CardProducts{
        margin-bottom: 13%;
        padding: 1.5% 2.5%;
        width: 95%;
        margin-left: 2.5%;
    }
}    

