/*General*********************/
*{
    text-align: left;
    margin: 0;
    padding:0;
}
a{
    cursor: pointer;
    text-decoration: none;
}
button{
    cursor: pointer;
}
input:focus{
    outline: none;
}
button:focus{
    outline: none;
}
select:focus{
    outline: none;
}
span{
    color: white;
}

/*Animations*/

/*******end of Animation_section********************/



