/*General*********************/
*{
    text-align: left;
    margin: 0;
    padding:0;
}
a{
    cursor: pointer;
    text-decoration: none;
}
button{
    cursor: pointer;
}
input:focus{
    outline: none;
}
button:focus{
    outline: none;
}
select:focus{
    outline: none;
}
span{
    color: white;
}

/*Animations*/
@keyframes Down_Truck_mob {
    0%{width: 75%;}
    12.5%{width:98%; left: 2%; top: 51.9%;} /*sec 1*/
    24.5%{width:98%; left: 2%;top: 51.9%;opacity: 1;}
    25%{width:98%; left: 2%;top: 51.9%;opacity: 0;}/*sec 2*/
    37.5%{width:98%;left: 2%; top: 51.9%;opacity: 0;}/*sec3*/
    50%{width:98%; left: 2%;top: 51.9%;opacity: 0;} /*sec 4*/
    62.5%{width:98%; left: 2%;top: 51.9%;opacity: 0;} /*sec 5*/
    75%{width:98%;left: 2%; top: 51.9%;opacity: 0;} /*sec 6*/
    87%{width:98%;left: 2%; top: 51.9%;opacity: 0;} 
    87.5%{width:98%;left: 2%; top: 51.9%;opacity: 1;} /*sec 7*/
    90%{opacity: 1;}
    90.5%{width:98%;left: 2%; top: 51.9%;opacity: 0;} /*sec 7*/
    100%{width:98%;left: 2%; top: 51.9%;opacity: 0; display: none;} /*sec 8*/
}
@keyframes Acelerate {
    0%{opacity: 0;}
    12%{opacity: 0;}
    12.5%{opacity: 0;} /*sec 1*/
    24.5%{opacity: 0;}
    25%{opacity: 0;}/*sec 2*/
    37.5%{opacity: 0;}/*sec3*/
    50%{opacity: 0;} /*sec 4*/
    62.5%{opacity: 0;} /*sec 5*/
    75%{opacity: 0;} /*sec 6*/
    90.5%{opacity: 0;}
    91%{opacity: 1;} 
    93.5%{opacity: 1;}
    94%{opacity: 0;} /*sec 7*/
    100%{opacity: 0;} /*sec 8*/
}
@keyframes Acelerate2 {
    0%{opacity: 0;}
    12%{opacity: 0;}
    12.5%{opacity: 0;} /*sec 1*/
    24.5%{opacity: 0;}
    25%{opacity: 0;}/*sec 2*/
    37.5%{opacity: 0;}/*sec3*/
    50%{opacity: 0;} /*sec 4*/
    62.5%{opacity: 0;} /*sec 5*/
    75%{opacity: 0;} /*sec 6*/
    87%{opacity: 0;} 
    87.5%{opacity: 0;} /*sec 7*/
    94%{opacity: 0;} 
    94.5%{opacity: 1;}
    96%{opacity: 1;}
    96.5%{opacity: 0;}
    100%{opacity: 0;} /*sec 8*/
}
@keyframes Acelerate3 {
    0%{opacity: 0;}
    12%{opacity: 0;}
    12.5%{opacity: 0;} /*sec 1*/
    24.5%{opacity: 0;}
    25%{opacity: 0;}/*sec 2*/
    37.5%{opacity: 0;}/*sec3*/
    50%{opacity: 0;} /*sec 4*/
    62.5%{opacity: 0;} /*sec 5*/
    75%{opacity: 0;} /*sec 6*/
    87%{opacity: 0;} 
    87.5%{opacity: 0;} /*sec 7*/
    96.5%{opacity: 0;} 
    97%{opacity: 1;}
    99.5%{opacity: 1;}
    100%{opacity: 0;}/*sec 8*/
}
@keyframes Open_Truck_mob {
    0%{opacity: 0;}
    12%{opacity: 0;}
    12.5%{opacity: 0;} /*sec 1*/
    24.5%{opacity: 0;}
    25%{opacity: 1;}/*sec 2*/
    37.5%{opacity: 1;}/*sec3*/
    50%{opacity: 1;} /*sec 4*/
    62.5%{opacity: 1;} /*sec 5*/
    75%{opacity: 1;} /*sec 6*/
    87%{opacity: 1;} 
    87.5%{opacity: 0;} /*sec 7*/
    100%{opacity: 0;} /*sec 8*/
}
@keyframes ChargeDron_mob {
    37.5%{top: 5%; left: -50%;}/*sec3*/
    50%{top: 30%; left: 15%;} /*sec 4*/
    62%{top: 30%; left: 15%;opacity: 1;}
    62.5%{top: 30%; left: 15%;opacity: 0;} /*sec 5*/
    75%{opacity: 0;} /*sec 6*/
    87.5%{opacity: 0;} /*sec 7*/
    100%{opacity: 0;} /*sec 8*/
}
@keyframes Hide-Show_Pallets {
    0%{opacity: 0;}
    99%{opacity: 0;}
    100%{opacity: 1;}
}

@keyframes EmptyDron_mob {
    0%{width: 81%;left: 0%;opacity: 0;}
    25%{width: 81%;left: 0%;opacity: 0;}
    50%{width: 81%;left: 0%;opacity: 0;}
    62%{width: 81%;left: 0%;opacity: 0;}
    62.5%{width: 81%;left: 0%;opacity: 1;} /*sec 5*/
    63%{width: 81%;left: 0%;opacity: 1;}
    75%{width: 81%;left: 0%;opacity: 1;}
    95%{opacity: 1;}
    100%{width: 10%;left: 90%;opacity: 0;} /*sec 8*/
}
@keyframes Text_animation {
    9.5%{opacity: 0;}
    10%{opacity: 1;}
    12.5%{opacity: 1;} /*sec 1*/
    25%{opacity: 1;}/*sec 2*/
    37.5%{opacity: 1;}/*sec3*/
    50%{opacity: 1;} /*sec 4*/
    62.5%{opacity: 1;} /*sec 5*/
    75%{opacity: 1;} /*sec 6*/
    87.5%{opacity: 1;} /*sec 7*/
    99.5%{opacity: 1;}
    100%{opacity: 0;} /*sec 8*/
}


@media(max-width:280px){
    .navbar_mob{
        font-size: 13px;
    }
}


/*End of Animations **************/


/******Layout*************/
.Boxes{
    text-align: right;
}
.boxes_mob_img{
    padding-right: 10% !important;
}
/******end of Layout******/





/*************Animation_section********************/
#closeTruck{
    z-index: -2;
    position: absolute;
    top: 13%;
    left: 10%;
    width: 80%;
    animation-name: Down_Truck_mob;
    animation-duration: 6s;
    animation-timing-function: ease-in;
}
#closeTruck2{
    z-index: -2;
    position: absolute;
    top: 51.9%;
    left: 2%;
    width: 98%;
    
}
#closeTruck3{
    z-index: -2;
    position: absolute;
    top: 51.9%;
    left: 2%;
    width: 98%;
    
}
#closeTruck4{
    z-index: -2;
    position: absolute;
    top: 51.9%;
    left: 2%;
    width: 98%;
    
}
.ClosedTruck2{
    margin-left: 10% !important;
    opacity: 0;
    animation-name: Acelerate;
    animation-duration: 6s;
}
.ClosedTruck3{
    opacity: 0;
    margin-left: 30% !important;
    animation-name: Acelerate2;
    animation-duration: 6s;
}
.ClosedTruck4{
    opacity: 0;
    margin-left: 70% !important;
    animation-name: Acelerate3;
    animation-duration: 6s;
}
#OpenTruck_mob{
    position: absolute;
    width: 98%;
    top: 48.5%;
    left: 2%;
    opacity: 0;
    z-index: -2;
    animation-name: Open_Truck_mob;
    animation-duration: 6s;
}
#ChargeDron_mob{
    position: absolute;
    width: 51%;
    top: 5%;
    left: -50%;
    animation-name: ChargeDron_mob;
    animation-duration: 6s;
}
.emptyDron{
    position: absolute;
    width: 78%;
    left: 1%;
    top: 30%;
    opacity: 0;
    animation-name: EmptyDron_mob;
    animation-duration: 6s;
}
#EmptyDron_mob{
    position: absolute;
    left: 60%;
}
#Pallets_menu{
    margin-top: 85%;
    opacity: 1;
    animation-name: Hide-Show_Pallets;
    animation-duration: 6s;
}
#Text_animation_mob{
    position: absolute;
    opacity: 0;
    top: 85%;
    left: 22%;
    animation-name: Text_animation;
    animation-duration: 6s;
}
/*******end of Animation_section********************/



